{% extends 'base.html' %}

{% block title %}{{ user.first_name }}{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="home" aria-selected="true">Profile</a>
                </li>
                {% if user.is_authenticated and profile.pk == user.pk %}
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#orders" role="tab"
                           aria-controls="profile"
                           aria-selected="false">Orders</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" id="listed-tab" data-toggle="tab" href="#listed-items" role="tab"
                       aria-controls="listed-items"
                       aria-selected="false">Listed Items</a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content">

            <!-- Profile info -->
            <div class="tab-pane fade show active text-left" id="profile" role="tabpanel" aria-labelledby="home-tab">
                <h6>Full Name: {{ profile.first_name }} {{ profile.last_name }}</h6>
                <h6>Email Address: {{ profile.email }}</h6>
            </div>

            <!-- Orders -->
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                Nothing here yet
                <span class="iconic" data-glyph="pencil" title="edit" aria-hidden="true"></span>
            </div>

            <!-- Items for sale -->
            <div class="tab-pane fade" id="listed-items" role="tabpanel" aria-labelledby="listed-tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>

                        {% if user.is_authenticated and profile.pk == user.pk %}
                            <th scope="col">Update</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}
                        <tr>
                            <td scope="row">{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                            {% if user.is_authenticated and profile.pk == user.pk %}
                                <td>
                                    <!-- Edit button -->
                                    <a role="button" href="{% url 'update_item' pk=product.pk %}"
                                       class="btn btn-warning modifier">
                                        <span class="oi oi-pencil"></span>
                                    </a>

                                    <!-- Delete button -->
                                    <form class="delete" action="{% url 'delete_view' pk=product.pk %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger modifier">
                                            <span class="oi oi-trash"></span>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>


{% endblock %}