{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/userform.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="title">
        <h5>Log In to Your Account</h5>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.login }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <button type="submit" aria-describedby="loginHelp" class="btn btn-primary">Login</button>
        <a href="{% url 'account_signup' %}" id="loginHelp" class="form-text text-muted">New to Sahara? Click here to
            register.</a>
    </form>
{% endblock %}