.content-wrapper {
    padding-top: 2.5rem;
    display: block;
    margin:0 auto;
    text-align: center;
    width: 60%;
}

.total {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.checkout {
    margin-top: 0.5rem
}

.modifier {
    padding: 4px 8px;
}