/* Credit to https://github.com/GeekLaunch/star-rating */
star-rating-static {
    font-family: 'Ionicons';
    font-size: 1.5rem;
    margin-top: -0.3rem;
    display: inline-flex;
    cursor: pointer;
}

star-rating {
    font-family: 'Ionicons';
    font-size: 1.5rem;
    margin-top: -0.3rem;
    display: inline-flex;
    cursor: pointer;
}

star-rating-static > .star::after {
    content: '\f3ae';
    color: #777;
}

star-rating-static > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}

star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}