{% extends 'base.html' %}

{% block title %}Sell Item{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/list-item.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="text-left">
        <h3>List a Product for Sale</h3>
        <form method="post">
            {% csrf_token  %}
            <!-- Name -->
            <div class="form-group">
                <label for="inputName">Product Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" aria-label="Name">
            </div>

            <!-- Price -->
            <div class="form-group">
                <label for="inputPrice">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="inputPrice" class="form-control"
                           aria-label="Amount (to the nearest dollar)">
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="inputDescription">Product Description</label>
                <textarea type="text" class="form-control" id="inputDescription" rows="3"
                          placeholder="Description"></textarea>
            </div>

            <!-- Dimensions -->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Height</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="Height">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Width</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="Width">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Depth</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="Depth">
                </div>
            </div>

            <!-- Category -->
            <div class="form-group">
                <label for="inputCategory">Product Category</label>
                <select class="form-control" id="inputCategory">
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                    <option>Category 4</option>
                </select>
            </div>

            <!-- Images -->
            <div class="form-group">
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-success">Upload Image</button>
                </div>
                <div>
                    <ul>
                        <li>
                            <a>Image1.jpg</a>
                            <button type="button" class="btn btn-sm btn-danger delete">Delete</button>
                        </li>
                        <li>
                            <a>Image2.jpg</a>
                            <button type="button" class="btn btn-sm btn-danger delete">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}