<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Sahara{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {% load static %}
    <!-- CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}

    <!-- JS -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Sahara</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Placeholder</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'list-item' %}">Sell Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'profile' pk=user.pk %}">Profile</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% block nav %}{% endblock %}
    {% if user.is_authenticated %}
        <form class="form-inline">
            <a href="{% url 'cart' %}" class="btn btn-primary cart" role="button">
                Cart <span class="badge badge-light">{{ cart.count }}</span>
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'account_logout' %}" class="btn btn-outline-warning my-2 my-sm-0" role="button">Sign Out</a>
        </form>
    {% else %}
        <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'account_login' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">Sign In</a>
        </form>
    {% endif %}
</nav>

<div class="content-wrapper">
    {% block content %}{% endblock %}
</div>

{% block endjs %}{% endblock %}

</body>
</html>