{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/navcolumn.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <!-- Sidebar Navigation -->
    <div class="sidebar">

        <!-- Side Navigation Content -->
        <div class="content">
            <ul class="nav flex-column">
                <li class="section">
                    <span class="title">Product Categories</span>
                    <ul class="nav flex-column">
                        <li>
                            {% if not current_category %}
                                <a class="nav-item active" href="{% url 'index' %}">Featured</a>
                            {% else %}
                                <a class="nav-item" href="{% url 'index' %}">Featured</a>
                            {% endif %}
                        </li>
                        {% for category in categories %}
                            <li>
                                {% if category.name == current_category %}
                                    <a class="nav-item active"
                                       href="{% url 'index' category=category.name %}">{{ category.name }}</a>
                                {% else %}
                                    <a class="nav-item"
                                       href="{% url 'index' category=category.name %}">{{ category.name }}</a>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <!-- Main Content -->
    <div class="content is-shown">
        {% if not current_category %}
            <h1>Featured</h1>
        {% else %}
            <h1>{{ current_category }}</h1>
        {% endif %}
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="card product" href="{% url 'product' pk=product.pk %}">
                        <img class="card-img-top" src="http://via.placeholder.com/216x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h7 class="card-price">${{ product.price }}</h7>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}